<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4">Scraping NPR News...</h1>
		<p class="lead">Please wait <span class="font-weight-bold" id="countdown">5</span> seconds for content to populate.</p>
		<div class="mx-5 my-5" id="progress-bar"></div>
	</div>
</div>

<script src="scraping.js"></script>